.fileBox {
  height: 300px;
  width: 100%;
  position: relative;
  background: whitesmoke;
  border-radius: 5px;
  border: 0.5px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.fileBox label {
  min-width: 150px;
  height: 30px;
  font-size: 14px;
  border: 1px solid gainsboro;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: white;
  cursor: pointer;
  gap: 3px;
}
.fileBox .sideControl {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 34px;
  height: 100px;
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 8px;
}

.fileBox .sideControl .icons {
  width: 28px;
  height: 28px;

  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  border-radius: 5px;
  background: rgba(57, 56, 56, 0.563);
  cursor: pointer;
}

.fileBox.invert {
  background: rgb(13, 12, 12);
}
.fileBox .InputImage {
  position: absolute;
  width: 90%;
  height: 90%;
  object-fit: cover;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
