.radio-box {
  width: 100%;
  height: 43px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
/* .radio-box .header label {
  font-size: 15px;
} */
.radio-box .radios {
  width: 100%;
  display: flex;
}
/* <div className="radio-box">
<div className="header"></div>
<div className="radios"></div>
</div> */
