@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "YOPQ" 300;
}
.inputBox {
  display: flex;
  flex-direction: column;
  gap: 2px;
  min-height: 34px;
  /* text-transform: capitalize; */
  /* background: #000; */
}
.inputBox input {
  height: 27px;
  border-radius: 5px;
  border: .9px solid rgb(148, 148, 148);
  padding: 2px 10px;
  font-size: 14px;
  background-color: whitesmoke;
}
